<!DOCTYPE html>
<html lang="zh">
<head>

    <title>{block name="title"}登录{/block} - 服务注册中心</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="服务注册中心">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/font/bootstrap-icons.css">
    <link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/ex.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/Base64/1.2.0/base64.min.js"></script>
    {block name="head"}{/block}
</head>
<body class='app p-0 {block name="appName"}{/block}'>
<div class="row g-0 app-auth-wrapper">
    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
        <div class="d-flex flex-column align-content-end">
            <div class="app-auth-body mx-auto">
                {block name="content"}{/block}
            </div>

            <footer class="app-auth-footer">
                <div class="container text-center py-3">
                    <small class="copyright">
                        <span>Reversed by</span>
                        <a href="#" target="_blank">xxx</a>
                        <span>&copy; 2023</span>
                    </small>
                </div>
            </footer>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
        <div class="auth-background-holder">
        </div>
        <div class="auth-background-mask"></div>
        <div class="auth-background-overlay p-3 p-lg-5">
            <div class="d-flex flex-column align-content-end h-100">
                <div class="h-100"></div>
                <div class="overlay-content p-3 p-lg-4 rounded">
                    <h5 class="mb-3 overlay-title" id="recommend_title"></h5>
                    <div id="recommend_content"></div>
                </div>
            </div>
        </div><!--//auth-background-overlay-->
    </div><!--//auth-background-col-->

</div><!--//row-->
<script>
    function initRecommend() {
        $.ajax({
            type: "GET",
            url: "https://v1.hitokoto.cn/",
            success: function (data) {
                if (data['from_who'] !== undefined && data['from'] !== undefined && data['hitokoto'] !== undefined) {
                    $('#recommend_title').html((data['from_who'] === null ? '' : data['from_who'] + ' - ') + "《" + data['from'] + "》");
                    $('#recommend_content').html(data['hitokoto']);
                }
            },
            error: (error) => {
                $('#recommend_title').html('罗隐 - 《自遣》');
                $('#recommend_content').html('得即高歌失即休，多愁多恨亦悠悠。<br />今朝有酒今朝醉，明日愁来明日愁。');
                console.error(error);
            }
        })
    }
    initRecommend();
</script>
{block name="script"}{/block}
</body>
</html>