{extend name="template/login" /}

{block name="title"}忘记密码{/block}

{block name="appName"}app-reset-password{/block}
{block name="content"}
<div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img class="logo-icon me-2" src="/assets/images/app-logo.svg" alt="logo"></a></div>
<h2 class="auth-heading text-center mb-4">重置密码</h2>

<div class="auth-intro mb-4 text-center">请在下面输入您的电子邮件地址。我们将通过电子邮件向您发送一个可以轻松创建新密码的页面链接。</div>

<div class="auth-form-container text-left">
	
	<form class="auth-form resetpass-form">                
		<div class="email mb-3">
			<label class="sr-only" for="reg-email">邮箱地址</label>
			<input id="reg-email" name="reg-email" type="email" class="form-control login-email" placeholder="邮箱地址" required="required">
		</div><!--//form-group-->
		<div class="text-center">
			<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">重置密码</button>
		</div>
	</form>
	
	<div class="auth-option text-center pt-5"><a class="app-link" href="login.html" >登录</a> <span class="px-2">|</span> <a class="app-link" href="signup.html" >注册</a></div>
</div>
{/block}
